<header>
    <div class="container">
        <div class="logo">Guillermo Morán L.</div>
        <nav>
            <ul [class.active]="menuOpen">
              <li><a routerLink="/" fragment="home" (click)="closeMenu()">Home</a></li>
              <li><a routerLink="/" fragment="about" (click)="closeMenu()">About</a></li>
              <li><a routerLink="/" fragment="skills" (click)="closeMenu()">Skills</a></li>
              <li><a routerLink="/" fragment="projects" (click)="closeMenu()">Projects</a></li>
              <li><a routerLink="/" fragment="contact" (click)="closeMenu()">Contact</a></li>
            </ul>
            <div class="menu-toggle" (click)="toggleMenu()">
              <i class="fas" [class.fa-bars]="!menuOpen" [class.fa-times]="menuOpen"></i>
            </div>
          </nav>
    </div>
</header>