/* About Section */
.about-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-image {
    flex: 1;
}

.about-image img {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.about-text {
    flex: 1;
}

.about-text p {
    margin-bottom: 20px;
}

.personal-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 30px 0;
    width: 105%;
}

.personal-info div span {
    font-weight: 600;
    color: var(--dark-color);
}

/* End About Section */
