<section id="home" class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="me"><span>{{profile.name}}</span></h1>
            <h2>{{profile.title}}</h2>
            <p>{{profile.intro}}</p>
            <div class="cta-buttons">
                <a href="#projects" class="btn">{{templateData.view_work}}</a>
                <a href="#contact" class="btn btn-outline">{{templateData.contact_me}}</a>
            </div>
        </div>
        <div class="hero-image">
            <img src={{profile.photo}} alt="Developer Photo">
        </div>
    </div>
</section>

