<section id="home" class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="me">Hi, I'm <span>{{profile.name}}</span></h1>
            <h2>{{profile.title}}</h2>
            <p>{{profile.intro}}</p>
            <div class="cta-buttons">
                <a href="#projects" class="btn">View My Work</a>
                <a href="#contact" class="btn btn-outline">Contact Me</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="assets/yo_canada.jpg" alt="Developer Photo">
        </div>
    </div>
</section>
