<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">{{profile.name}}</div>
            <div class="footer-links">
                <a href="#home">{{templateData.home}}</a>
                <a href="#about">{{templateData.about}}</a>
                <a href="#skills">{{templateData.skills}}</a>
                <a href="#projects">{{templateData.projects}}</a>
                <a href="#contact">{{templateData.projects}}</a>
            </div>
            <div class="footer-copyright">
                &copy; {{ currentYear }} {{profile.name}} {{templateData.rights}}
            </div>
        </div>
    </div>
</footer>
