<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">{{profile.name}}</div>
            <div class="footer-links">
                <a href="#home">{{template().home}}</a>
                <a href="#about">{{template().about}}</a>
                <a href="#skills">{{template().skills}}</a>
                <a href="#projects">{{template().projects}}</a>
                <a href="#contact">{{template().contact}}</a>
            </div>
            <div class="footer-copyright">
                &copy; {{ currentYear }} {{profile.name}} {{template().rights}}
            </div>
        </div>
    </div>
</footer>
